@use "../../assets/scss/mixin" as mx;
@use "../../assets/scss/function" as fn;
@use "../../assets/scss/variables/color.scss" as colors;
@use "../../assets/scss/variables/breakpoint.scss" as bp;

.pagination {
    display: flex;
    align-items: center;
    gap: fn.rem(4);

    &__list {
        display: flex;
        gap: fn.rem(12);

        &-item {
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            width: fn.rem(32);
            height: fn.rem(32);
            font-size: fn.rem(14);
            background-color: colors.$white-1;
            border-radius: fn.rem(8);
            @include mx.font-san-francisco-pro-display-medium;

            @include mx.mq(bp.$breakpoint-md, max) {
                font-size: fn.rem(12);
            }

            &.\--active {
                background-color: colors.$gray-2;
            }
        }
    }

    &__icon-left, &__icon-right {
        cursor: pointer;
        font-size: fn.rem(14);

        &:hover {
            width: fn.rem(32);
            height: fn.rem(32);
            background-color: colors.$gray-2;
            border-radius: fn.rem(8);

        }

        &:disabled {
            cursor: not-allowed;
        }

        @include mx.mq(bp.$breakpoint-md, max) {
            font-size: fn.rem(12);
        }
    }
}