$white-1: #fff;
$white-2: #F2F1F0;
$white-3: #E8E4E3;
$black-1: #000;
$black-2: #4d4d4d;
$black-3: #5F555D;
$blue-1: #004e9c;
$blue-2: #004183;
$blue-3: #0063AC;
$red-1: #90475E;
$gray-1: #D0D5DD;
$gray-2: #EDEEF1;
$gray-3: #D7DAE0;
$gray-4: #565E73;
$gray-5: #EAECF0;
$gray-6: #F6F7F9;
$gray-7: #B3B9C6;
$orange-1: #FFEAD5;
$orange-2: #F96619;
$orange-3: #F26D21;

$success: #12B76A;
$success-bg: #ECFDF3;
$warning: #FDA712;
$warning-bg: #FFF4C5;
$block: #3D424F;
$block-bg: #EDEEF1;


$body-bg: $white-1;
$body-txt: $black-3;