@use "../../assets/scss/function" as fn;
@use "../../assets/scss/mixin" as mx;
@use "../../assets/scss/variables/color.scss" as colors;
@use "../../assets/scss/variables/breakpoint.scss" as bp;

.search {
    display: flex;
    justify-items: center;
    align-items: center;
    border: 1px solid colors.$gray-3;
    border-radius: fn.rem(8);
    height: fn.rem(36);
    width: 100%;
    @include mx.font-san-francisco-pro-display-regular;

    &__input {
        border: none;
        outline: none;
        font-size: fn.rem(16);
        width: 100%;

        @include mx.mq(bp.$breakpoint-md, max) {
            font-size: fn.rem(12);
        }
    }

    &__icon {
        @include mx.icons;
        width: fn.rem(20);
        height: fn.rem(20);
        margin-left: fn.rem(8);
        margin-right: fn.rem(4);
    }
}